.landingHero {
    background: url('../public/img/bg-img-14.jpg') center center no-repeat;
    background-size: cover;
    align-items: flex-start;
    display: flex;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    text-align: center;
    width: 100vw;
}


.landingContent {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 15em;
    justify-content: space-around;
    height: 100%;
    width: 100%;
}

.landingMain {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.landingTagline {
    color: #fff;
    font-size: 3rem;
    font-weight: 600;
    letter-spacing: .1em;
}

.landingText {
    color: #fff;
    margin-top: 1em;
    font-size: 1.5rem;
}

.landingFooter {
    margin-top: auto;
   
}

.landingNav ul {
    display: flex;
    list-style: none;
}

.footerLink {
    background-color: #e4e4e2;
    border-radius: 1em;
    font-size: 1.3rem;
    font-weight: 600;
    margin: 0 3em;
    padding: 1em 2em;
    -webkit-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

.footerLink:hover {
    background-color: #fff;
    color: #000;
}

.linkActive {
    background-color: #fff;
    color: #000;
    /* border-radius: 1em; */
    display: block;
    font-size: 1.3rem;
    font-weight: 600;
    margin: 0 3em;
    padding: 1.5em 1em;
    -webkit-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

.linkActive:hover {
    background-color: #000;
    color: #fff;
    -webkit-transform: translateY(-0.5em);
}

@media all and (max-width: 1300px) {
    .landingNav ul {
        flex-direction: column;
    }

    .footerLink, .link-active {
        margin-bottom: 1rem;
    }
}

.landingSection {
    display: flex;
    height: 70vh;
    justify-content: center;
    padding: 10em;
}

.landingSectionHeading {
    text-align: center;
}

.landingSectionHeader {
    font-size: 4.5rem;
    margin-bottom: .5em;
}

.landingSectionSubHeading {
    font-size: 2rem;
}