.serviceSection {
    display: flex;
    height: 100vh;
    width: 100vw;;
}

.serviceImageContainer {
    flex-basis: 60%;
    flex-grow: 0;
    flex-shrink: 0;
    position: relative;
}
/* 
.serviceImageContainer img {
    height: auto;
    object-fit: cover;
    max-width: 100%;
    max-height: 100%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
} */

.serviceInfoContainer {
    display: flex;
    flex-basis: 40%;
    padding: 15em 10em;
    justify-content: center;
}

.serviceInfoHeader {
    font-size: 3rem;
    letter-spacing: .1rem;
    margin-bottom: 2em;
    /* text-align: center; */
    text-transform: uppercase;
    overflow-y: scroll;
}

.serviceDetailsContainer {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 50%;
}

.serviceInfoDesc {
    font-size: 1.5em;
}

.serviceDetails {
    margin-top: 5em;
}

.serviceDetailsHeader {
    font-size: 2.5rem;
    margin-bottom: 1.5em;
}

.serviceItemHeading {

    text-align: center;
}

.serviceMeta {
    font-size: 2.5rem;
    margin-bottom: .5em;
}

.serviceName {
    font-size: 1.2rem;
    letter-spacing: .1rem;
    /* text-transform: uppercase; */
}

.serviceListCont {
    margin-top: 4rem;
}

.serviceListCont h1 {
    font-size: 2.5rem;
    margin-bottom: 3rem;
}

.serviceFeatures li {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
}


.serviceBtn {
    border: 1px solid #000;
    color: #000;
    display: block;
    padding: 2em 4em;
    font-size: 1.3rem;
    font-weight: 600;
    max-width: 50%;
    margin: 3em auto;
    text-align: center;
    -webkit-transition: all 0.5s ease;
}

.serviceBtn:hover {
    background-color: #000;
    color: #fff;
    -webkit-transform: translateX(1em);
}