.nav {
    height: 10em;
    padding: 5em;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 1000;

}

.logo {
    /* color: #fff; */
    font-size: 1.6rem;
    letter-spacing: .2rem;
    text-transform: uppercase;
}